<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <servlet>
    <servlet-name>ServicesServlet</servlet-name>
    <servlet-class>com.godson.websocket.servlet.ServicesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServicesServlet</servlet-name>
    <url-pattern>/wsServices</url-pattern>
  </servlet-mapping>	
  
  <servlet>
    <servlet-name>OnlineServlet</servlet-name>
    <servlet-class>com.godson.websocket.servlet.OnlineServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>OnlineServlet</servlet-name>
    <url-pattern>/wsOnline</url-pattern>
  </servlet-mapping>	
  
  <servlet>  
    <servlet-name>initServlet</servlet-name>  
    <servlet-class>com.godson.websocket.servlet.InitServlet</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
